{layout name="layout"/}
<div class="tpl-content-wrapper">
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 商品管理
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-form-group">
                    <select data-am-selected="{btnSize: 'sm',maxHeight: 150}" onchange="check(this.value);">
                        <option>{$to}</option>
                        {foreach $types as $v}
                            <option value="{$v['id']}">{$v['name']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                    <div class="input-icon right"><form method="post">
                        <input type="text" class="form-control form-control-solid" placeholder="商品名称" name="spn">
                    </div>
                </div>
                <button class="am-btn am-btn-primary am-btn-xs am-radius">搜索</button></form>
                <button class="am-btn am-btn-success am-btn-xs am-radius" onclick="newl()">添加商品</button>
            </div>
        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                            <tr>
                                <th class="table-title">商品名称</th>
                                <th class="table-title">所属分类</th>
                                <th class="table-title">排序</th>
                                <th class="table-title">状态(点击修改)</th>
                                <th class="table-title">剩余卡密</th>
                                <th class="table-money">商品价格</th>
                                <th class="table-set">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $lists as $v}
                                <tr>
                                    <td>{$v['title']}</td>
                                    <td>{$v['tn']}</td>
                                    <td>{$v['or']}</td>
                                    <td><span onclick="sx(this,{$v['id']})"  class="am-badge am-badge-{$v['s']==1 ? 'danger' : 'secondary'}">{$v['s']==1 ? '上架' : '下架'}</span></td>
                                    <td>{$v['count']}</td>
                                    <td>{$v['money']}</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button onclick="ledit('{$v['id']}','{$v['or']}','{$v['title']}','{$v['mode']}','{$v['money']}',{$v['type']})" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                <a class="am-btn am-btn-primary am-btn-xs" href="newkm?spid={$v['id']}">添卡</a>
                                                <a class="am-btn am-btn-success am-btn-xs" href="sold?spid={$v['id']}">查看未售</a>
                                                <a class="am-btn am-btn-warning am-btn-xs" href="unsold?spid={$v['id']}">查看已售</a>
                                                <a href="./sp?dl={$v['id']}" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除[同时未售删除卡密]</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="am-cf">
                <div class="am-fr">
                    {$lists->render()}
                </div>
            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>
</div>
<!--预设-->
<div class="am-modal am-modal-alert" tabindex="-1" id="tip">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">编辑商品信息</div>
        <div id="tips" class="am-modal-bd">
            <form class="am-form tpl-form-line-form" method="post">
                <input type="hidden" id="eid" name="eid">
                <div class="am-form-group">
                    <label for="doc-select-1">商品归属</label>
                    <select data-am-selected="{maxHeight: 200}" id="type" name="type">
                        <option>默认不需要修改</option>
                        {foreach $types as $v}
                            <option value="{$v['id']}">{$v['name']}</option>
                        {/foreach}
                    </select>
                    <span class="am-form-caret"></span>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">商品排序(越大越前，支持同数)</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="tpl-form-input" id="id" name="id">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">商品标题</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="tpl-form-input" id="title" name="title">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">商品说明</label>
                    <div class="am-u-sm-9">
                        <textarea rows="5" id="mode" name="mode"></textarea>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">商品价格</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="tpl-form-input" id="money" name="money">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <input type="submit" value="保存" name="edit" class="am-btn am-btn-secondary am-btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End 预设-->
<!--预设-->
<div class="am-modal am-modal-alert" tabindex="-1" id="ntip">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加新的商品</div>
        <div id="tips" class="am-modal-bd">
            <form class="am-form tpl-form-line-form" method="post">
                <input type="hidden" id="eid" name="eid">
                <div class="am-form-group">
                    <label for="doc-select-1">商品归属</label>
                    <select data-am-selected="{maxHeight: 200}" id="type" name="type">
                        {foreach $types as $v}
                            <option value="{$v['id']}">{$v['name']}</option>
                        {/foreach}
                    </select>
                    <span class="am-form-caret"></span>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">商品标题</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="tpl-form-input" id="title" name="title">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">商品说明(支持HTML代码)</label>
                    <div class="am-u-sm-9">
                        <textarea rows="5" id="mode" name="mode"></textarea>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">商品价格</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="tpl-form-input" id="money" name="money">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <input type="submit" value="添加" name="new" class="am-btn am-btn-secondary am-btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End 预设-->
<script type="text/javascript">
    //修复部分情况无法加载base64文件
    function Base64() {
        // private property 
        _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/="; 
         
        // public method for encoding 
        this.encode = function (input) { 
            var output = ""; 
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4; 
            var i = 0; 
            input = _utf8_encode(input); 
            while (i < input.length) { 
                chr1 = input.charCodeAt(i++); 
                chr2 = input.charCodeAt(i++); 
                chr3 = input.charCodeAt(i++); 
                enc1 = chr1 >> 2; 
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4); 
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6); 
                enc4 = chr3 & 63; 
                if (isNaN(chr2)) { 
                    enc3 = enc4 = 64; 
                } else if (isNaN(chr3)) { 
                    enc4 = 64; 
                } 
                output = output + 
                _keyStr.charAt(enc1) + _keyStr.charAt(enc2) + 
                _keyStr.charAt(enc3) + _keyStr.charAt(enc4); 
            } 
            return output; 
        } 
         
        // public method for decoding 
        this.decode = function (input) { 
            var output = ""; 
            var chr1, chr2, chr3; 
            var enc1, enc2, enc3, enc4; 
            var i = 0; 
            input = input.replace(/[^A-Za-z0-9\+\/\=]/g, ""); 
            while (i < input.length) { 
                enc1 = _keyStr.indexOf(input.charAt(i++)); 
                enc2 = _keyStr.indexOf(input.charAt(i++)); 
                enc3 = _keyStr.indexOf(input.charAt(i++)); 
                enc4 = _keyStr.indexOf(input.charAt(i++)); 
                chr1 = (enc1 << 2) | (enc2 >> 4); 
                chr2 = ((enc2 & 15) << 4) | (enc3 >> 2); 
                chr3 = ((enc3 & 3) << 6) | enc4; 
                output = output + String.fromCharCode(chr1); 
                if (enc3 != 64) { 
                    output = output + String.fromCharCode(chr2); 
                } 
                if (enc4 != 64) { 
                    output = output + String.fromCharCode(chr3); 
                } 
            } 
            output = _utf8_decode(output); 
            return output; 
        } 
         
        // private method for UTF-8 encoding 
        _utf8_encode = function (string) { 
            string = string.replace(/\r\n/g,"\n"); 
            var utftext = ""; 
            for (var n = 0; n < string.length; n++) { 
                var c = string.charCodeAt(n); 
                if (c < 128) { 
                    utftext += String.fromCharCode(c); 
                } else if((c > 127) && (c < 2048)) { 
                    utftext += String.fromCharCode((c >> 6) | 192); 
                    utftext += String.fromCharCode((c & 63) | 128); 
                } else { 
                    utftext += String.fromCharCode((c >> 12) | 224); 
                    utftext += String.fromCharCode(((c >> 6) & 63) | 128); 
                    utftext += String.fromCharCode((c & 63) | 128); 
                } 
            } 
          return utftext; 
        } 
         
        // private method for UTF-8 decoding 
        _utf8_decode = function (utftext) { 
            var string = ""; 
            var i = 0; 
            var c = c1 = c2 = 0; 
            while ( i < utftext.length ) { 
                c = utftext.charCodeAt(i); 
                if (c < 128) { 
                    string += String.fromCharCode(c); 
                    i++; 
                } else if((c > 191) && (c < 224)) { 
                    c2 = utftext.charCodeAt(i+1); 
                    string += String.fromCharCode(((c & 31) << 6) | (c2 & 63)); 
                    i += 2; 
                } else { 
                    c2 = utftext.charCodeAt(i+1); 
                    c3 = utftext.charCodeAt(i+2); 
                    string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63)); 
                    i += 3; 
                } 
          } 
          return string; 
        } 
    } 
    Base64 = new Base64();
</script>