{layout name="layout"/}
<div class="tpl-content-wrapper">
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 已售卡密管理 [不可删除]
            </div>
        </div>
        <form method="post">
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select id="sx" data-am-selected="{btnSize: 'sm',maxHeight: 200,searchBox: 1}" onchange="checkl(this.value);">
                                    <option>筛选卡密种类</option>
                                    {foreach $lists as $v}
                                        <option value="{$v['id']}">{$v['title']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="caption font-green bold">
                                统计:当前条件共有{$kmc}个卡密
                            </div>
                        </div>
                    </div>
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">卡密名称</th>
                                    <th class="table-km">卡密数据</th>
                                    <th class="table-dh">订单号</th>
                                    <th class="table-time">提卡时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $kml as $v}
                                    <tr>
                                        <td>{$v['id']}</td>
                                        <td>{$v['name'] ?: '商品已不存在'}</td>
                                        <td>{$v['km']}</td>
                                        <td><a href="./dd?order={$v['order']}" target="_blank" class="am-badge am-badge-warning">{$v['order']}</a></td>
                                        <td>{$v['time']}</td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
                        <div class="am-cf">
                            <div class="am-fr">
                                {$kml->render()}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="a">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">数据无价,请三思</div>
        <div class="am-modal-bd">
            你确定要删除吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <a class="am-modal-btn" onclick="dd();" data-am-modal-confirm>确定</a>
        </div>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="b">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">数据无价,请三思</div>
        <div class="am-modal-bd">
            你确定要删除吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <a class="am-modal-btn" onclick="de();" data-am-modal-confirm>确定</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var yl = '<?php echo !empty($_GET['spid']) ? $_GET['spid'] : ''; ?>';
    if(yl){
        $('#sx').val(yl);
    }
</script>