<!--

避免版权纠纷
最早文件头部

EDLM个人发卡网3.5
作者：MadDog
QQ：3283404596
WX：Edi13146

未经同意请勿利用本程序采取转载、出售、等宣传手段以及盈利手段！

-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<title>{$config['title']} - {$config['tail']}</title>
	<meta name="keywords" content="{$config['keywords']}" />
	<meta name="description" content="{$config['description']}" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>
	<link rel="stylesheet" type="text/css" href="./fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="./css/util.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background:#FFF url('{$config['background']}') no-repeat center center;background-size:cover;background-attachment:fixed;background-color:#f6f6f6;">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-25">
				<h3 class="text-dark" style="text-align: center;margin-bottom: 20px;">{$config['title']}</h3>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
				  	  	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">购卡</a>
				  	</li>
				  	<li class="nav-item">
				  	  	<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">查卡</a>
				  	</li>
				  	<li class="nav-item">
				  	  	<a class="nav-link" href="tencent://Message/?menu=no&exe=QQ&uin={$config['qq']}&websiteName=EDLM个人发卡网" >联系客服</a>
				  	</li>
				</ul>
				<div class="tab-content" id="myTabContent">
				    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding: 10px;">
				    	<div class="form-group row">
						    <label for="type">类别选择</label>
						    <select class="form-control" id="type" onchange="t();">
						    	{foreach $type as $v}
						    		<option value="{$v['id']}">{$v['name']}</option>
						    	{/foreach}
						    </select>
					  	</div>
					    <div class="form-group row">
						    <label for="list">商品选择</label>
						    <select class="form-control" id="list" onchange="l();">
						    </select>
					  	</div>
					  	<div class="form-group row">
					  		<label for="list">购买数量</label>
						  	<div class="input-group mb-3">
							  	<div class="input-group-prepend">
							    	<button type="button" class="btn btn-outline-secondary" id="min"><i class="fa fa-minus" aria-hidden="true"></i></button>
							  	</div>
							  	<input type="text" class="form-control" style="text-align:center;" value="0" id="time">
							  	<div class="input-group-append">
							    	<button type="button" class="btn btn-outline-danger" id="max"><i class="fa fa-plus" aria-hidden="true"></i></button>
							  	</div>
							</div>
						</div>
						<div class="form-group row">
						    <label for="email">联系方式(邮箱)</label>
						    <input type="text" class="form-control" id="email" placeholder="10010@qq.com" name="order">
					  	</div>
					  	<center>
					  		<h3 id="kt"></h3>
							<p id="km"></p>
							<h5>
								<span class="badge badge-pill badge-dark" id="dj"></span>
								<span class="badge badge-pill badge-light" id="zj"></span>
							</h5>
					  	</center>
						<br>
					  	<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn" onclick="xd()" type="button">确认下单</button>
							</div>
						</div>
				    </div>
				    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="padding: 10px;">
				    	<div class="form-group row">
						    <label for="email">订单号/联系方式</label>
						    <input type="text" class="form-control" id="pwd" value="{$_GET["order"] ?: ''}" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}">
					  	</div>
					  	<center>
					  		<h3 id="c1"></h3>
							<p id="c2"></p>
					  	</center>
					  	<br>
					  	<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn" onclick="c()" type="button">查询卡密</button>
							</div>
						</div>
				    </div>
				</div>
				<center style="margin-top: 20px;">{$footer}</center>
			</div>
		</div>
	</div>
	<!--支付框-->
	<div class="modal" id="pays" tabindex="-1" role="dialog">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title">请选择您的支付方式</h5>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
		      	<div class="modal-body" style="text-align: center;">
		        	<button type="button" class="btn btn-primary" onclick="pays('alipay')">&nbsp;&nbsp;&nbsp;支&nbsp;付&nbsp;宝&nbsp;&nbsp;&nbsp;</button>
		        	<button type="button" class="btn btn-success" onclick="pays('wxpay')">&nbsp;&nbsp;&nbsp;微&nbsp;信&nbsp;&nbsp;&nbsp;</button>
		        	<button type="button" class="btn btn-danger" onclick="pays('qqpay')">&nbsp;&nbsp;&nbsp;Q&nbsp;&nbsp;Q&nbsp;&nbsp;&nbsp;</button>
		      	</div>
	    	</div>
	  	</div>
	</div>
	<!-- 公告 -->
	<div class="modal fade" id="gg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  	<div class="modal-content">
		    	<div class="modal-header">
		      		<h5 class="modal-title">最新公告</h5>
		      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        		<span aria-hidden="true">&times;</span>
		      		</button>
		    	</div>
			    <div class="modal-body">
			    	{$config['gg'] ?: ''}
			    </div>
			    <div class="modal-footer">
			      	<button type="button" class="btn btn-primary" data-dismiss="modal">好的,我知道了</button>
			    </div>
		  	</div>
		</div>
	</div>
	<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript">
		//初始化
		var bt = true;
		var gt = {$config['gg'] ? 'true' : 'false'};
		var order = '{$_GET["order"] ?: ''}';
		var ljson = {$ljson};
		var cr = $('#Copyright').val();
		if(cr!='ok'){
			alert(cc());
		}
		Base64 = new Base64();
		var vc = 0;
		var dj = 0;
		t();
		//order
		if(order!=''){
			$('#myTab a[href="#profile"]').tab('show');
			c();
		}else{
			if(gt){
				$('#gg').modal();
			}
		}
		//事件
		$(function(){
            $("#min").click(function(){
            	var c = Number($('#time').val());
            	if(c<=0){
            		$('#time').val(0);
            	}else{
            		$('#time').val(c-1);
            	}
            	$('#zj').html("合计:"+parseFloat(dj*$('#time').val()).toFixed(2));
            });
            $("#max").click(function(){
            	var c = Number($('#time').val());
            	if(c>=vc){
            		$('#time').val(vc);
            	}else{
            		$('#time').val(c+1);
            	}
            	$('#zj').html("合计:"+parseFloat(dj*$('#time').val()).toFixed(2));
            });
        });
        $("#time").on("change",function(){
        	var c = Number($('#time').val());
        	if(c>=vc){
        		$('#time').val(vc);
        	}
        	$('#zj').html("合计:"+parseFloat(dj*$('#time').val()).toFixed(2));
        });
		//所需函数
		function t(){
			var tid = $('#type').val();
			$("#list").find("option").remove();
			var lists = '';
			$.each(ljson,function(idx,data){
				if(data.type==tid){
					lists+='<option value="'+data.id+'">'+data.title+'</option>';
				}
			});
			$('#list').append(lists);
			//改变商品信息
			l();
		}
		//列表改变
		function l(){
			var lid = $('#list').val();
			var ls = false;
			$.each(ljson,function(idx,data){
				if(data.id==lid){
					ls = true;
					vc = data.count;
					if(vc>0){
						$('#time').val(1);
					}else{
						$('#time').val(0);
					}
					$('#kt').html('商品说明');
					$('#km').html(Base64.decode(data.mode));
					//
					dj = parseFloat(data.money).toFixed(2);
					$('#dj').html("单价:"+dj);
					$('#zj').html("合计:"+parseFloat(dj*$('#time').val()).toFixed(2));
				}
			});
			if(!ls){
				$('#kt').html('');
				$('#km').html('');
			}
		}
		//下单
		function xd(){
			var t = $('#time').val();
			if(vc<t){
				alert('库存不足，暂时无法下单！');
				return;
			}
			if(t<=0){
				alert('请先选择您需要购买的数量！');
				return;
			}
			if($('#email').val().length<5){
				alert('联系方式过于简单，请输入有效的联系方式！');
				return;
			}
			$('#pays').modal();
		}
		//发起支付
		function pays(zftype){
			var id = $('#list').val();
			var time = $('#time').val();
			var pwd  = $('#email').val();
			if(!bt){
				return;
			}
			bt = false;
			$.ajax({
                type: 'POST',
                url: '/post/bykm.edlm.cn',
                data: {
                	id: id,
                	time: time,
                	pwd: pwd,
                	type: zftype
                },
                dataType: "json",
                success: function(data) {
                	if(data.code===0){
                		location.href = data.msg;
                	}else{
                		alert(data.msg);
                	}
                	bt = true;
                },
                error: function(){
                	alert('服务器出小差了，请稍后重试！');
                	bt = true;
                }
            });
		}
		function cc(){      
		 	code=unescape('%u8C20%uE801%uEDD7%uE129%uCF61%u7F11%u520B%uA51F%uE884%uF87A%uB204%uB527%uD781%uD98B%uB724%uB050%u607C%17M%B2%DF%E9%EB%DB%D0%CF%DC%94b%BB%99%8B%D8%9B%93%C9%D0%D9%9B%91%D1');      
		 	var c=String.fromCharCode(code.charCodeAt(0)-code.length);      
		 	for(var i=1;i<code.length;i++){      
		  		c+=String.fromCharCode(code.charCodeAt(i)-c.charCodeAt(i-1));      
		 	}		      
		 	return c;
		}
		//查询
		function c(){
			var pwd = $('#pwd').val();
			if(pwd.length<5){
				alert('请完善查询条件后重试！');
				return;
			}
			if(!bt){
				return;
			}
			bt = false;
			$.ajax({
                type: 'POST',
                url: '/post/bykm.edlm.cn',
                data: {
                	c: pwd
                },
                dataType: "json",
                success: function(data) {
                	if(data.code===0){
                		$('#c1').html('查询结果');
                		$('#c2').html('');
                		$("#c2").removeAttr("style");
                		var cl = '';
                		$.each(data.msg, function(id,s){
                			cl += s.km+"\r";
	                    });
	                    $('#c2').append('<textarea class="form-control" rows="5">'+cl+'</textarea>');
                	}else if(data.code===1){
                		$('#c1').html('');
                		$('#c2').html('');
                		$("#c2").removeAttr("style");
                		$("#c2").css({"overflow-x":"auto","overflow-y":"auto","height":"350px","width":"100%"});  
                		var ct = '<table class="table table-dark"><thead class="thead-dark"><tr><th scope="col">商品/订单号<br><font color="red">点击可查询对应订单</font></th><th scope="col">状态</th><th scope="col">下单时间</th></tr></thead><tbody>';
                		var cw = '</tbody></table>';
                		var cl = '';
                		$.each(data.msg, function(id,s){
                			var ts = '未付款';
                			if(s.type){
                				ts = '<font color="red">已付款</font>';
                			}
	                        cl += '<tr><td><a onclick="dh(\''+s.order+'\')" style="width:30%">'+s.title+s.order+'</a></td><td>'+ts+'</td><td>'+s.stime+'</td></tr>';
	                    });
	                    $('#c2').append(ct+cl+cw);
                	}else{
                		alert(data.msg);
                	}
                	bt = true;
                },
                error: function(){
                	alert('服务器出小差了，请稍后重试！');
                	bt = true;
                }
            });
		}
		function dh(dh){
			$('#pwd').val(dh);
		}
		//修复部分情况无法加载base64文件
		function Base64() {
		    // private property 
		    _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/="; 
		     
		    // public method for encoding 
		    this.encode = function (input) { 
		        var output = ""; 
		        var chr1, chr2, chr3, enc1, enc2, enc3, enc4; 
		        var i = 0; 
		        input = _utf8_encode(input); 
		        while (i < input.length) { 
		            chr1 = input.charCodeAt(i++); 
		            chr2 = input.charCodeAt(i++); 
		            chr3 = input.charCodeAt(i++); 
		            enc1 = chr1 >> 2; 
		            enc2 = ((chr1 & 3) << 4) | (chr2 >> 4); 
		            enc3 = ((chr2 & 15) << 2) | (chr3 >> 6); 
		            enc4 = chr3 & 63; 
		            if (isNaN(chr2)) { 
		                enc3 = enc4 = 64; 
		            } else if (isNaN(chr3)) { 
		                enc4 = 64; 
		            } 
		            output = output + 
		            _keyStr.charAt(enc1) + _keyStr.charAt(enc2) + 
		            _keyStr.charAt(enc3) + _keyStr.charAt(enc4); 
		        } 
		        return output; 
		    } 
		     
		    // public method for decoding 
		    this.decode = function (input) { 
		        var output = ""; 
		        var chr1, chr2, chr3; 
		        var enc1, enc2, enc3, enc4; 
		        var i = 0; 
		        input = input.replace(/[^A-Za-z0-9\+\/\=]/g, ""); 
		        while (i < input.length) { 
		            enc1 = _keyStr.indexOf(input.charAt(i++)); 
		            enc2 = _keyStr.indexOf(input.charAt(i++)); 
		            enc3 = _keyStr.indexOf(input.charAt(i++)); 
		            enc4 = _keyStr.indexOf(input.charAt(i++)); 
		            chr1 = (enc1 << 2) | (enc2 >> 4); 
		            chr2 = ((enc2 & 15) << 4) | (enc3 >> 2); 
		            chr3 = ((enc3 & 3) << 6) | enc4; 
		            output = output + String.fromCharCode(chr1); 
		            if (enc3 != 64) { 
		                output = output + String.fromCharCode(chr2); 
		            } 
		            if (enc4 != 64) { 
		                output = output + String.fromCharCode(chr3); 
		            } 
		        } 
		        output = _utf8_decode(output); 
		        return output; 
		    } 
		     
		    // private method for UTF-8 encoding 
		    _utf8_encode = function (string) { 
		        string = string.replace(/\r\n/g,"\n"); 
		        var utftext = ""; 
		        for (var n = 0; n < string.length; n++) { 
		            var c = string.charCodeAt(n); 
		            if (c < 128) { 
		                utftext += String.fromCharCode(c); 
		            } else if((c > 127) && (c < 2048)) { 
		                utftext += String.fromCharCode((c >> 6) | 192); 
		                utftext += String.fromCharCode((c & 63) | 128); 
		            } else { 
		                utftext += String.fromCharCode((c >> 12) | 224); 
		                utftext += String.fromCharCode(((c >> 6) & 63) | 128); 
		                utftext += String.fromCharCode((c & 63) | 128); 
		            } 
		        } 
		      return utftext; 
		    } 
		     
		    // private method for UTF-8 decoding 
		    _utf8_decode = function (utftext) { 
		        var string = ""; 
		        var i = 0; 
		        var c = c1 = c2 = 0; 
		        while ( i < utftext.length ) { 
		            c = utftext.charCodeAt(i); 
		            if (c < 128) { 
		                string += String.fromCharCode(c); 
		                i++; 
		            } else if((c > 191) && (c < 224)) { 
		                c2 = utftext.charCodeAt(i+1); 
		                string += String.fromCharCode(((c & 31) << 6) | (c2 & 63)); 
		                i += 2; 
		            } else { 
		                c2 = utftext.charCodeAt(i+1); 
		                c3 = utftext.charCodeAt(i+2); 
		                string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63)); 
		                i += 3; 
		            } 
		      } 
		      return string; 
		    } 
		} 
	</script>
</body>
</html>